//
// Colors
//

$white: #fff !important;

/* Color Theme Swatches in Hex */
$Nudes-1: #011826;
$Nudes-2: #255059;
$Nudes-3: #D9C5B4;
$Nudes-4: #BFA288;
$Nudes-5: #A6654E;

$body-background-color: $Nudes-3 !important;
$sidebar-color: $Nudes-4 !important;
$search-background-color: $Nudes-3 !important;
$table-background-color: $Nudes-3 !important;
$code-background-color: $Nudes-4 !important;
$feedback-color: darken($sidebar-color, 3%) !important;

$body-text-color: $Nudes-1 !important;
$body-heading-color: $Nudes-2 !important;
$search-result-preview-color: $Nudes-4 !important;
$nav-child-link-color: $Nudes-2 !important;
$link-color: $Nudes-5 !important;
$btn-primary-color: $Nudes-5 !important;
$base-button-color: $Nudes-3 !important;