//
// Colors
//


/* Color Theme */
$Nudes-1: #011826;
$Nudes-2: #255059;
$Nudes-3: #D9C5B4;
$Nudes-4: #BFA288;
$Nudes-5: #A6654E;

$body-background-color: #D9C5B4 !important;
$sidebar-color: #BFA288 !important;
$search-background-color: #D9C5B4 !important;
$table-background-color: #D9C5B4 !important;
$code-background-color: #BFA288 !important;

$body-text-color: #011826 !important;
$body-heading-color: #255059 !important;
$search-result-preview-color: #BFA288 !important;
$nav-child-link-color: #255059 !important;
$link-color: #A6654E !important;
$btn-primary-color: #A6654E !important;
$base-button-color: #D9C5B4 !important;
