$body-font-family: Roboto,"Helvetica Neue", Arial, sans-serif;
$mono-font-family: Menlo, Consolas, Monospace;

$sidebar-color: $purple-000;

$code-background-color: $purple-000;

$body-heading-color: $green-200 ;
