$body-font-family: Roboto,"Helvetica Neue", Arial, sans-serif !default;
$mono-font-family: Menlo, Consolas, Monospace !default;

$sidebar-color: $purple-000;

$code-background-color: $purple-000 !default;

$body-heading-color: $green-200 !default;
